.right {
float:right;
margin-right:25%;
color:steelblue;
margin-top:1%;
}
.left {
    float:left;
    margin-left:5%;
    color:steelblue;
   
}
.header{
height:100px;
 margin-left:5%;
 margin-right:5%;
}
.center {
height:500px;
color:steelblue;
background-color:lightsteelblue;
 margin-left:5%;
 margin-right:5%;
}
.center-left {
float:left;
height:400px;
width:20%;
background-color:pink;
border:2px solid black;
}
.center-middle {
float: left;
height: 400px;
width: 675px;
margin-left: 1%;
margin-right: 1%;
}
.center-right {
float:right;
height:400px;
width:20%;
background-color:pink;
margin-left:1%;
border:2px solid black;
}
.img {
margin-left: 60px;
}
.left-welcome {
background-color:green;
text-align:center;
line-height:30px;
color:white;
}
.center-footer {
float:left;
color:red;
margin-top:5%
}
.no-close .ui-dialog-titlebar-close {
    display:none;
}


